/*header*/

header {
	height: 60px;
	background-color: #333333;
}

header ul {
	padding-top: 10px;
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	background-color: #333333;
}

header ul>li {
	float: left;
	margin-right: 70px;
	height: 50px;
}

header ul>li>img {
	height: 40px;
	vertical-align: top;
	margin-right: 5px;
}

header ul>li>a {
	color: #eee;
	font-size: 16px;
	line-height: 50px;
}

header ul>li>a:hover {
	color: #269ABC;
}

header ul>li:first-of-type>a {
	margin-right: 150px;
	margin-top: 10px;
	font-size: 30px;
	line-height: 50px;
	font-family: Times New Roman !important;
}


/*header end*/