section{
	min-height: 560px;
	height: 560px;
	background-image: url(../../img/index-img/sec-bg.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	position: relative;
}
section>div.bg{
	background-color: #555555;
	opacity: 0.6;
	height: 200px;
	width: 100%;
	top: 25%;
	z-index:2;
	position: absolute;
}
section>div.con{
	position: absolute;
	z-index: 3;
	top: 25%;
	left: 20%;
	width: 800px;
	height: 200px;
}
section>div.con>h2{
    font-size: 50px;
    color: #eeeeee;
}
section>div.con>input{
	color: #555555;
	width: 400px;
	height: 33px;
	border: 2px solid #333333;
	border-radius: 5px;
	margin: 0 auto;
	text-indent: 1em;
	margin-left: 100px;
	margin-top: 20px;
}
section div.con>button{
	height: 33px;
	width: 50px;
	border-radius: 3px;
	background-color: #E38D13;
	color: #EEEEEE;
	border: none;
}
